<div class="page-parent {{ class }}">
  <div class="container-left flex center">
    <div class="logo box">
      <img src="{{ logo.src }}" alt="{{ logo.alt }}" title="{{ logo.title }}" />
    </div>
  </div>
  <div class="container-main">
    <img src="{{ image.src }}" alt="{{ image.alt }}" title="{{ image.title }}" class="title-image" />
    <div class="title flex center">
      <h2 class="box">{{ title }}</h2>
    </div>
  </div>

</div>

